@import url('https://fonts.googleapis.com/css2?family=Anton');

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Anton', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

#navbarNav {
    display: inline-block;
    align-items: center;
    font-family: 'Anton', sans-serif !important;
}

.navbar{
    /*background-color: #00997b !important;*/
    background-color: rgb(212, 212, 212) !important;

    border: 1px solid black;
    margin: 0px !important;
}

.navbar a{
    margin: 10px;  
}

